//컴포넌트 요소
.box {
  display: flex;
  flex-wrap: wrap;
  &.item-2 {
    .items {
      flex: 50%;
    }
  }
  .items {
    box-sizing: border-box;
    padding: 50px;
    flex: 100%;
    flex-shrink: 0;
    font-size: $fontSizeMid;
    .title {
      font-size: $titleFontSizeMid;
    }
    img {
      width: 100%;
    }
  }
}

// company > history table
.subpage.history {
  .items {
    display: flex;
    h3.title {
      width: 300px;
      font-size: $titleFontSizeNormal;
      color: $fontColorTitle;
    }
    table {
      &.company-summary {
        th {
          width: 100px;
          font-size: $fontSizeNormal;
          text-align: start;
          vertical-align: top;
          color: $fontColorTitle;
          padding: 15px 0;
        }
        td {
          font-size: $fontSizeNormal;
          padding: 15px 0;
          border: none;
          p {
            margin: 0;
            & + p {
              margin-top: 6px;
            }
          }
        }
      }
      &.company-history {
        th {
          width: 200px;
          font-size: $fontSizeNormal;
          font-weight: 700;
          color: $fontColorTitle;
          text-align: start;
        }
        td {
          font-size: $fontSizeNormal;
          font-weight: 400;
          vertical-align: top;
          padding: 10px 0;
          border: none;
        }
      }
    }
  }
}

// community > notice table
.subpage.notice {
  table {
    width: 100%;
    margin-top: 50px;
    & thead {
      background-color: $tableBg;
    }
    th {
      padding: 20px 15px;
      text-align: left;
      font-weight: 500;
      font-size: $fontSizeNormal;
      color: white;
      text-transform: uppercase;
      & + th {
        width: 120px;
        text-align: center;
      }
    }
    td {
      padding: 15px;
      height: 30px;
      text-align: left;
      vertical-align: middle;
      font-weight: 300;
      font-size: $fontSizeNormal;
      color: $fontColorBasic;
      border-bottom: 1px solid $borderColorPrimary;
      & + td {
        width: 120px;
        text-align: center;
      }
    }
  }
}

// product
.content.product {
  .items {
    .title {
      margin-bottom: 30px;
    }
    width: 100%;
    .item-wrap {
      display: flex;
      flex-wrap: wrap;
      .item {
        width: 343px;
        padding: 0 20px 60px 0;
        a {
          width: 100%;
          text-align: center;
          .img {
            border: 1px solid $borderColorPrimary;
            border-radius: 10px;
            overflow: auto;
          }
          .txt {
            padding-top: 30px;
          }
        }
      }
    }
  }
}

// gallery slider
#navi {
  width: 600px;
  ul {
    li {
      width: 120px;
      float: left;
      img {
        width: 100%;
        // border: 3px solid white;
      }
    }
  }
  overflow: hidden;
  .page-wrap {
    .page {
      overflow: hidden;
      float: left;
    }
  }
}

/* prev, next button */
.navi-wrap {
  position: relative;
  margin-top: 50px;
  & > img {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 500;
    &.next {
      right: 0;
      transform: translate(100%, -50%);
    }

    &.prev {
      left: 0;
      transform: translate(-100%, -50%);
    }
  }
}

#main {
  position: relative;
  width: 600px;
  height: 650px;
  img {
    width: 100%;
    position: absolute;
    // border: 3px solid white;
  }
}

// accordion
.accordion {
  width: 100%;
  margin: 50px auto;
  border-top: 2px solid #222222;
  dl {
    width: 100%;
    margin: 0;
    dt {
      position: relative;
      height: 60px;
      line-height: 60px;
      font-size: 18px;
      text-indent: 2rem;
      color: $fontColorTitle;
      border-bottom: 1px solid $borderColorPrimary;
      cursor: pointer;
      &::before {
        content: 'Q.';
        position: absolute;
        left: -25px;
        top: -2px;
        font-size: $titleFontSizeSmall;
        color: $fontColorPrimary;
      }
    }
    dd {
      margin: 0;
      background-color: #f7f7f7;
      overflow: hidden;
      &.on {
        padding: 40px;
      }
      p {
        color: #666666;
        padding: 20px;
        margin: 0;
      }
    }
  }
}

// pagination
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      width: 30px;
      text-align: center;
      .num {
        color: $paginationBg;
        &.on {
          font-weight: 500;
          color: $paginationColor;
        }
      }
    }
  }
  button {
    position: relative;
    top: 1px;
    width: 7px;
    height: 12px;
    background: url(../images/img05/pagination_arrow_btn.png) no-repeat;
    background-color: transparent;
    text-transform: none;
    text-indent: -9999px;
    &.page-next {
      margin-left: 14px;
      background-position: -7px 0;
    }
    &.page-prev {
      margin-right: 14px;
    }
  }
}
